*{
	border: 0;
	padding: 0;
	margin: 0;
}

.clearfix{
	clear: both;
}

.row{
	position: relative;
	padding: 2vw 8vh;
	
}

.logo{
	font-size: 3rem;
	color: #454545;
	font-weight: bold;
	float: left;
}

#logo-green{
	color: #9DBEB7;
	font-weight: normal;
}

hr{
	color: #9DBEB7;
	background-color: #9DBEB7;
	height: 2px;
	border: 0;
}

.menu{
	float: right;
	/*width: 50%;*/
	/*background-color: yellow;*/
	padding-top: 4vh;
}

ul{
	list-style-type: none;
	text-align: center;
}

ul li{
	font-size: 12px;
	display: inline;
	padding: 2px 16px;
	font-weight: bold;
}

ul li a:hover{
	color: black;
}

li a:visited{
	text-decoration: none;
	color: grey;
}

li a:link{
	text-decoration: none;	
	color: grey;
}

.login{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px #999;
	-webkit-box-shadow: 0 0 10px #999;
	padding: 16px 20px;
	color: grey;
}

a:visited, a:link{
	text-decoration: none;
	color: #3CB371;
}

.white-link a:link, .white-link a:visited{
	text-decoration: none;
	color: white;
}

input{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 5px;
	border: 1px solid grey;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="submit"]{
	background-color: #3CB371;
	color: white;
	font-weight: bold;
	width: 20%;
	height: 26px;
	text-align: center;
	border: 0;
}

.green-row{
	background-color: #58A699;
}

.awesome{
	color: white;
	font-weight: bold;
}

.row3-left{
	float: left;
}

.features{
	color: #2E6E67;
}

.bold-text{
	color: white;
	font-weight: bold;
}

.forw-slash{
	color: #2E6E67;
}

.row3-right{
	padding: 15px 20px;
	float: right;
	background-color: #2E6E67;
	border-radius: 30px;
	top: 20px;
	right: 50px;
	color: white;
}

.footer{
	padding: 10px 10px;
	display: inline-block;
	color: white;
}

h3{
	color: white;
	font-weight: bold;
}

.last{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 50px;
	background-color: #454545;
}

p{
	padding-top: 5px;
}

.field-wrapper{
	white-space: nowrap;
	width: 80%;
	
}